
* {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
body{
   background-color:bisque; 
}
.hading{
  color: rgb(17, 13, 8);
  font-size: 1.5rem ;  
}

input[type="file" i] {
    display: none;
}

#upload {
    text-align: start;
    width: 80%;
    margin: auto;
    height: auto;
    box-shadow: 0 0 3px 0 #000000;
    padding: 15px;
}
.highlight {
    background-color: rgb(43, 200, 243);
}

span:hover {
    cursor: pointer;
}

.fa {
    cursor: pointer;
    padding: 20px;
}